/* FONTS */
@font-face {
  font-family: birthday;
  src: url(../font/aAlloyInk.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* GRID */
* {
    box-sizing: border-box;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

[class*="col-"] {
	float: left;
  padding: 0 20px;
}

.col-4{width:33.333333%;}
.col-6 {width: 50%;}
.col-8{width:66.666667%;}
.col-12 {width: 100%;}

/* BASE */
body {
  margin: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  background-color: #E8EDEE;
  color: #4682B4;
  word-wrap: break-word;
}

#container  {
  position: fixed;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clear {clear: both;}

/* TYPOGRAPHY */
.home h1 {
	font-size: 100px;
}

h1 {
	font-size: 62px;
	text-align: center;
	font-family: birthday, sans-serif;
}

p {
	text-align: center;
}

/* BUTTON */
.buttonWrapper {
	margin: 40px auto 0px;
    text-align: center;
}

.button {
    background-color: #4682B4;
	font-size: 16px;
    border-radius: 4px;
    padding: 10px;
    margin: 0 10px 0 0;
}

.button:hover {
    background-color: #255e8e;
}

a.button {
    color: #fff;
    text-decoration: none;
}

.button:first-child {
    margin: 0 10px 0 0;
}

/* USER */
/* --- Helen --- */
body.helen {
	color: #14A4BF;
}

.helen .button {
	background-color: #14A4BF;
}

.helen .button:hover {
    background-color: #0b849a;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1258px) {
  #container  {
	width: 80%;
  }
  
  .col-8 {
    width: 100%;
  }
  
  .col-4 {
    width: 50%;
  }
  
  h1 {
	font-size: 52px;
  }
}

@media screen and (max-width: 544px) {
  #container  {
	width: 100%;
  }
  
  .col-4 {
      width: 100%;
  }
  
  h1 {
	font-size: 48px;
  }
}
